#**Penggabungan Series/Dataframe**

Terdapat beberapa metode untuk menggabungkanSeries/DataFrame di Pandas, yaitu :

1. Append

2. COncat

3. Merge

4. Join

##Import Library

Import beberapa library berikut untuk digunakan di sepanjang notebook ini :

In [2]:
import pandas as pd

###Append

Method .append() dapat digunakan pada datframe/series yang ditujukan untuk menambah row-nya saja :

In [3]:
#Membuat series of int (s1) dan series of string (s2)
s1 = pd.Series([1,2,3,4,5,6,7,8])
s2 = pd.Series(["a","b","c","d","e","f","g","h"])
#Menerapkan method append
s1_append_s2 = s1.append(s2)
print("Series - append:\n", s1_append_s2)

Series - append:
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object

<ipython-input-3-91845dd7eb5f>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1_append_s2 = s1.append(s2)

###Untuk **DataFrame**

In [21]:
#Buat DataFrame df1 dan df2
df1 = pd.DataFrame({'a':[1,2,3],
                    'b':[4,5,6]})
print("df1:\n", df1)
df2 = pd.DataFrame({'b':[1,2,3],
                    'a':[4,5,6]})
print("df2:\n", df2)

#Terapkan method append
df1_append_df2 = df1.append(df2)
print("DataFrame - append:\n", df1_append_df2)

df1:
    a  b
0  1  4
1  2  5
2  3  6
df2:
    b  a
0  1  4
1  2  5
2  3  6
DataFrame - append:
    a  b
0  1  4
1  2  5
2  3  6
0  4  1
1  5  2
2  6  3

<ipython-input-21-e64f82dddc1a>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1_append_df2 = df1.append(df2)

###Concat

Method **.concat()** dapat digunakan pada dataframe yang ditujukan untuk penggabungan baik dalam row-wise(dalam arah) atau column-wise.

In [23]:
#Buat DataFrame df1 dan df2
df1 = pd.DataFrame({'a':[1,2,3],
                    'b':[4,5,6]})
print("df1:\n", df1)
df2 = pd.DataFrame({'b':[1,2,3],
                    'a':[4,5,6]})
print("df2:\n", df2)

#Terapkan method concat row-wise
row_wise_concat = pd.concat([df1,df2])
print("Row-wise - concat:\n", row_wise_concat)

df1:
    a  b
0  1  4
1  2  5
2  3  6
df2:
    b  a
0  1  4
1  2  5
2  3  6
Row-wise - concat:
    a  b
0  1  4
1  2  5
2  3  6
0  4  1
1  5  2
2  6  3

Untuk penerapan concat pada **column-wise**

In [24]:
#Terapkan method concat column-wise
col_wise_concat = pd.concat([df1,df2], axis=1)
print("Column-wise - concat:\n", col_wise_concat)

Column-wise - concat:
    a  b  b  a
0  1  4  1  4
1  2  5  2  5
2  3  6  3  6

Dapat juga menambahkan identifier dari dataframe untuk data yang ditambahkan

In [26]:
#Penambahan identifier --> membentuk hasil penggabungan multiindex
multiindex_concat = pd.concat([df1,df2], axis=0, keys=['df1','df2'])
print("Multiindex - concat:\n", multiindex_concat)

Multiindex - concat:
        a  b
df1 0  1  4
    1  2  5
    2  3  6
df2 0  4  1
    1  5  2
    2  6  3

###Merge

Method **.merge()** untuk menggabungkan Series/DataFrame yang bentuknya mirip dengan syntax join di SQL, specify leftand right tables, join key dan how tojoin(left, right, inner, full outer)

In [4]:
import pandas as pd

In [27]:
#Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
    'key':['k1','k2','k3','k4','k5'],
    'val1':[400, 900, 80, 750, 100],
    'val2':[70, 50, 30, 200, 10]
})
print("df1:\n", df1)
df2 = pd.DataFrame({
    'key':['k1','k3','k5','k7','k10'],
    'val3':[5,4,3,2,1],
    'val4':[10,9,8,7,6]
})
print("df2:\n", df2)

df1:
   key  val1  val2
0  k1   400    70
1  k2   900    50
2  k3    80    30
3  k4   750   200
4  k5   100    10
df2:
    key  val3  val4
0   k1     5    10
1   k3     4     9
2   k5     3     8
3   k7     2     7
4  k10     1     6

pd.merge yang ekivalen dengan SQL **left join**

In [28]:
#Merge yang ekivalen dengan SQL left join
merge_df_left = pd.merge(left=df1, right=df2, how='left', left_on='key', right_on='key')
print('Merge - Left:\n', merge_df_left)

Merge - Left:
   key  val1  val2  val3  val4
0  k1   400    70   5.0  10.0
1  k2   900    50   NaN   NaN
2  k3    80    30   4.0   9.0
3  k4   750   200   NaN   NaN
4  k5   100    10   3.0   8.0

pd.merge yang ekivalen dengan SQL **right join**

In [29]:
#Merge yang ekivalen dengan SQL right join
merge_df_right = pd.merge(left=df1, right=df2, how='right', left_on='key', right_on='key')
print('Merge - right:\n', merge_df_right)

Merge - right:
    key   val1  val2  val3  val4
0   k1  400.0  70.0     5    10
1   k3   80.0  30.0     4     9
2   k5  100.0  10.0     3     8
3   k7    NaN   NaN     2     7
4  k10    NaN   NaN     1     6

pd.merge yang ekivalen dengan SQL **inner join**

In [30]:
#Merge yang ekivalen dengan SQL inner join
merge_df_inner = pd.merge(left=df1, right=df2, how='inner', left_on='key', right_on='key')
print('Merge - Inner:\n', merge_df_inner)

Merge - Inner:
   key  val1  val2  val3  val4
0  k1   400    70     5    10
1  k3    80    30     4     9
2  k5   100    10     3     8

pd.merge yang ekivalen dengan SQL **outer join**

In [31]:
#Merge yang ekivalen dengan SQL outer join
merge_df_outer = pd.merge(left=df1, right=df2, how='outer', left_on='key', right_on='key')
print('Merge - Outer:\n', merge_df_outer)

Merge - Outer:
    key   val1   val2  val3  val4
0   k1  400.0   70.0   5.0  10.0
1   k2  900.0   50.0   NaN   NaN
2   k3   80.0   30.0   4.0   9.0
3   k4  750.0  200.0   NaN   NaN
4   k5  100.0   10.0   3.0   8.0
5   k7    NaN    NaN   2.0   7.0
6  k10    NaN    NaN   1.0   6.0

Bagaiman jika salah satu dataframe atau keseluruhan dataframe yang akan digabungkan tersebut memiliki multiindex?

In [32]:
#Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
    'key':['k1','k2','k3','k4','k5'],
    'val1':[400, 900, 80, 750, 100],
    'val2':[70, 50, 30, 200, 10]
}).set_index(['key','val2'])
print('DataFrame 1:\n', df1)
df2 = pd.DataFrame({
    'key':['k6','k7','k8','k9','k10'],
    'val3':[1,2,3,4,5],
    'val4':[6,7,8,9,10]
}).set_index(['key','val3'])
print('DataFrame 2:\n', df2)

DataFrame 1:
           val1
key val2
k1  70     400
k2  50     900
k3  30      80
k4  200    750
k5  10     100
DataFrame 2:
           val4
key val3
k6  1        6
k7  2        7
k8  3        8
k9  4        9
k10 5       10

Jika digabungkan secara langsung seperti yang telah dilakukan pada bagian sebelumnya

In [33]:
#Merge dataframe yang memiliki multi index
#df_merge = pd.merge(df1,df2)
#print('Merging dataframe:\n', df_merge)
#Merge dataframe yang memiliki multi index

df_merge = pd.merge(df1.reset_index(), df2.reset_index())
print('Merging dataframe:\n', df_merge)

Merging dataframe:
 Empty DataFrame
Columns: [key, val2, val1, val3, val4]
Index: []

###Join

Method **.join()** digunakan pada dataframe untuk menggabungkan kedua data dengan set index pada kedua tabel tersebut sebagai join key, tanpa index, hal ini tidak akan berhasil.

In [40]:
#Buat dataframe df1 dan df2
df1 = pd.DataFrame({
    'key':['k1','k2','k3','k4','k5'],
    'val1':[400, 900, 80, 750, 100],
    'val2':[70, 50, 30, 200, 10]
})
df2 = pd.DataFrame({
    'key':['k1','k3','k5','k7','k10'],
    'val3':[1,2,3,4,5],
    'val4':[6,7,8,9,10]
})
#Penerapan join dengan menggunakan set_index dan keyword how
#df.join(df2) #<-- akan error

In [41]:
print(df1.set_index('key').join(df2.set_index('key')))

     val1  val2  val3  val4
key
k1    400    70   1.0   6.0
k2    900    50   NaN   NaN
k3     80    30   2.0   7.0
k4    750   200   NaN   NaN
k5    100    10   3.0   8.0

Untuk tipe join yang lain (contoh=inner), harus menspecify keyword how='inner' seperti yang dicontohkan berikut ini

In [42]:
join_df = df1.set_index('key').join(df2.set_index('key'), how = 'inner')
print(join_df)

     val1  val2  val3  val4
key
k1    400    70     1     6
k3     80    30     2     7
k5    100    10     3     8

In [43]:
#outer
join_df = df1.set_index('key').join(df2.set_index('key'), how = 'outer')
print(join_df)

      val1   val2  val3  val4
key
k1   400.0   70.0   1.0   6.0
k10    NaN    NaN   5.0  10.0
k2   900.0   50.0   NaN   NaN
k3    80.0   30.0   2.0   7.0
k4   750.0  200.0   NaN   NaN
k5   100.0   10.0   3.0   8.0
k7     NaN    NaN   4.0   9.0

In [44]:
#left
join_df = df1.set_index('key').join(df2.set_index('key'), how = 'left')
print(join_df)

     val1  val2  val3  val4
key
k1    400    70   1.0   6.0
k2    900    50   NaN   NaN
k3     80    30   2.0   7.0
k4    750   200   NaN   NaN
k5    100    10   3.0   8.0

In [45]:
#right
join_df = df1.set_index('key').join(df2.set_index('key'), how = 'right')
print(join_df)

      val1  val2  val3  val4
key
k1   400.0  70.0     1     6
k3    80.0  30.0     2     7
k5   100.0  10.0     3     8
k7     NaN   NaN     4     9
k10    NaN   NaN     5    10