#**MATERI**

##**List**

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya(mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [8]:
#contoh list
L1=[1, 4, 2, 13]
print(type(L1))

L2=["a","phyton",3]
print(type(L2))

print(L1)
print(L2)

<class 'list'>
<class 'list'>
[1, 4, 2, 13]
['a', 'phyton', 3]

Indeks di python(List,tuple) mulai dari 0

In [ ]:
# Sifat-Sifat List

#Terurut/Ordered
print("memanggil List L1 dengan indeks urutan:", L1[0:3])

L1 = [1, "Dua", True, 2+3j]

#Bisa diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

#Dapat diindeks/Sliching
print("Sliching List L1:", L1[3])

#Dapat diizinkan duplikasi
L1 = [1, "Dua", True, 2+3j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1,"Dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1,"Dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambah elemennya:", L1)

#Dapat mengahpus elemen pada data (remove()= menghapus berdasarkan nama objek)
L1 = [1,"Dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Sliching List L1: 13
Duplikasi pada List L1: [1, 'Dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'Dua', 3, (2+3j)]
Data setelah ditambah elemennya: [1, 'Dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'Dua', True]

In [ ]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen
#tersebut ditambahkan secara individual)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), ' ', 'n', 'a', 'n', 'a', 's']

In [ ]:

L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), ' nanas']

In [ ]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [ ]:
#menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

##**Tuple**

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen dipisahkan dengan koma.

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini  adalah tuple ", T1)

Ini  adalah tuple  (1, 'dua', True, (1+2j))

In [2]:
T11 = 1, "dua", True, 1+2j
print("Ini  adalah tuple ", T11)

Ini  adalah tuple  (1, 'dua', True, (1+2j))

In [5]:
#menampilkan tipe struktur data tuple
type(T1)

tuple

In [6]:
type(T11)

tuple

###Sifat-sifat Tuple

In [16]:
#Terurut/ordered
T1[0:3]

(1, 'dua', True)

In [17]:
#Tidak bisa diganti/immutable, maka syntaks berikut akan terjadi eror
T1[2]= "manusia"

TypeError: ignored

In [18]:
#Dapat diindks/slicing
print("elemen kedua dari tuple T1 adalah : ", T1[1])

elemen kedua dari tuple T1 adalah :  dua

In [19]:
#Dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [22]:
#tidak dapat menambah elemen baru, maka syntaks berikut akan terjadi eror
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [24]:
#tidak dapat menghapus elemen, maka syntaks berikut akan terjadi eror
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

###Menggabungkan Tuple

In [25]:
T3 = T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

#**Latihan**

##Latihan 1

In [ ]:
#buat list kalian sendiri
#buat elemen yang ada pada list yang kalian buat
A1 = [False, "meja", 5.7, 4j+2, 8]
A2 = ["B", 4, "math"]

print(A1)
print(type(A1))

print(A2)
print(type(A2))

[False, 'meja', 5.7, (2+4j), 8]
<class 'list'>
['B', 4, 'math']
<class 'list'>

In [14]:
A1 = [False, "meja", 5.7, 4j+2, 8]
#1
print("memanggil A1 dengan indeks urutan : ", L1[0:2])
#2
A1[1] = True
print("List A1 terbaru : ", A1)
#3
print("Sliching List A1 : ", A1[3])
#4
A1 = [False, "meja", 5.7, 4j+2, 8]
print("Duplikasi List A1 : ", A1)
#5
A1[2]=4
print("A1 setelah diubah : ", A1)
#6
A1.append(56)
print("A1 setelah ditambah elemennya : ", A1)
#7
A1.remove(4j+2)
print("A1 setelah dihapus elemennya : ", A1)

memanggil A1 dengan indeks urutan :  [1, 'Dua']
List A1 terbaru :  [False, True, 5.7, (2+4j), 8]
Sliching List A1 :  (2+4j)
Duplikasi List A1 :  [False, 'meja', 5.7, (2+4j), 8]
A1 setelah diubah :  [False, 'meja', 4, (2+4j), 8]
A1 setelah ditambah elemennya :  [False, 'meja', 4, (2+4j), 8, 56]
A1 setelah dihapus elemennya :  [False, 'meja', 4, 8, 56]

In [28]:
A1 = [False, "meja", 5.7, 4j+2, 8]
A1.extend("kuliah")
print("data A1 : ", A1)
A2 = [False, "meja", 5.7, 4j+2, 8]
A2.extend(["kuliah"])
print("data A2 : ",  A2)
A3 = [False, "meja", 5.7, 4j+2, 8]
A3.insert(3,4)
print("data A3 : ", A3)
A4 = [False, "meja", 5.7, 4j+2, 8]
A4.pop(3)
print("data A4 : ", A4)
A5 = [False, "meja", 5.7, 4j+2, 8]
A5.pop()
print("data A5 : ", A5)

data A1 :  [False, 'meja', 5.7, (2+4j), 8, 'k', 'u', 'l', 'i', 'a', 'h']
data A2 :  [False, 'meja', 5.7, (2+4j), 8, 'kuliah']
data A3 :  [False, 'meja', 5.7, 4, (2+4j), 8]
data A4 :  [False, 'meja', 5.7, 8]
data A5 :  [False, 'meja', 5.7, (2+4j)]

##Latihan 2

In [32]:
#buatlah tuplemu sendiri
#buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat

Tuple1 = (56+9j, False, "latihan tuple", 479, 12.4)
print("Data tuple yang pertama : ", Tuple1)
print(type(Tuple1))

Data tuple yang pertama :  ((56+9j), False, 'latihan tuple', 479, 12.4)
<class 'tuple'>

In [36]:
#1
Tuple1[2:4]

('latihan tuple', 479)

In [37]:
#2
print("menunjukkan elemen ke lima dari tuple yang pertama : ", Tuple1[4])

menunjukkan elemen ke lima dar1 tuple yang pertama :  12.4

In [38]:
#3
T_pertama = (56+9j, False, "latihan tuple", 479, 12.4)
print("T_pertama merupakan duplikasi dari Tuple1 : ", T_pertama)

T_pertama merupakan duplikasi dari Tuple1 :  ((56+9j), False, 'latihan tuple', 479, 12.4)

In [30]:
#Buat tuple baru
Tuple2 = (True, 1.6, (1+108j), 2, "semangat belajarnya",)
print("Data tuple yang kedua : ", Tuple2)
print(type(Tuple2))

Data tuple yang kedua :  (True, 1.6, (1+108j), 2, 'semangat belajarnya')
<class 'tuple'>

In [40]:
Tuple3 = Tuple1+Tuple2
print("inilah gabungan dari kedua tuple : ", Tuple3)

inilah gabungan dari kedua tuple :  ((56+9j), False, 'latihan tuple', 479, 12.4, True, 1.6, (1+108j), 2, 'semangat belajarnya')