##**Operator**

Operator simbol-simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

Tipe-tipe operator :

1. Operator Aritmatika
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

###Operator Aritmatika

Operator Aritmatika digunakan untuk melakukan operasi mtematika yng umum.

Macam-macam Operator Aritmatika, yaitu:

`+`  : Penjumlahan

`-`  : Pengurangan

`*`  : Perkalian

`/`  : Pembagian

`%`  : Modulus

`**` : Perpangkatan

`//` : Pembagian dengan hasil pembulatan flooring

####Contoh Penggunaan Operator Aritmatika

In [ ]:
#Penjumlahan
print('Penjumlahan')
print (2+2)

#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)

#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)

#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)

#Modulus
print('Modulus')
print('-'*20)
print(3%2)

#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)

#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

Penjumlahan
4
Pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian pembulatan flooring
--------------------
1

###Latihan Operator 1

In [ ]:
#Buatlah program penerapan oprator arimatika
#dengan nilai-nilai yang berbeda dari contoh ditas

In [ ]:
#Penjumlahan
print('Contoh Lain Penjumlahan')
print ('5 + 2 = ', 5+2)

#Pengurangan
print('Contoh Lain Pengurangan')
print('6 - 3 = ',6-3)

#Perkalian
print('Contoh Lain Perkalian')
print('2 * 100 = ',2*100)

#Pembagian
print('Contoh Lain Pembagian')
print('99 / 3 = ',99/3)

#Modulus
print('Contoh Lain Modulus')
print('397 % 7 = ',397%7)

#Perpangkatan
print('Contoh Lain Perpangkatan')
print('16 ** 3 = ',16**3)

#Pembagian dengan hasil pembulatan flooring
print('Contoh Lain Pembagian pembulatan flooring')
print('175//68 = ',175//68)

Contoh Lain Penjumlahan
5 + 2 =  7
Contoh Lain Pengurangan
6 - 3 =  3
Contoh Lain Perkalian
2 * 100 =  200
Contoh Lain Pembagian
99 / 3 =  33.0
Contoh Lain Modulus
397 % 7 =  5
Contoh Lain Perpangkatan
16 ** 3 =  4096
Contoh Lain Pembagian pembulatan flooring
175//68 =  2

###Operator Assignment

Operator Assinment digunakan untuk menyimpan nilai menjadi satu variabel
```
=  : Contohnya x = 5 ->  x = 5

+= : Contohnya x = x + 5 -> x += 5

-= : Contohnya x = x - 5 -> x -= 5

*= : Contohnya x = x * 5 -> x *= 5

/= : Contohnya x = x / 5 -> x /= 5

%= : Contohnya x = x % 5 -> x %= 5

//=: Contohnya x = x//5 -> x //= 5

**=: Contohnya x = x ** 5 -> x **= 5
```

####Contoh Penggunaan Operator Assignment

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print(20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//-3
print(x)
print('-'*20)

#Perpangkatan print("Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=-3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
20
Pembagian Flooring
1
5
--------------------
3125
0.008
--------------------

###Latihan Operator 2

In [ ]:
#Buatlah program penerapan oprator assignment
#dengan nilai-nilai yang berbeda dari contoh ditas

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=8
x=x+4
print('X1 = ',x)
x=6
x+=5
print('X2 = ',x)

#Pengurangan
print('Pengurangan')
x=8
x=x-3
print('X1 = ',x)
x=8
x-=3
print('X2 = ',x)

#Perkalian
print('Perkalian')
x=4
x=x*2
print('X1 = ',x)
x=4
x*=7
print('X2 = ',x)

#Pembagian
print('pembagian')
x=100
x=x/4
print('X1 = ',x)
x=86
x/=3
print('X2 = ',x)

#Modulus
print('Modulus')
x=99
x=x%6
print('X1 = ',x)
x=700
x%=7
print('X2 = ',x)

#Pembagian Flooring
print('Pembagian Flooring')
x=176
x=x//3
print('X1 = ',x)
x=65
x//=3
print('X2 = ',x)

#Perpangkatan
print('Perpangkatan')
x=59
x=x**2
print('X1 = ',x)
x=8
x**=-4
print('X2 = ',x)

Penjumlahan
X1 =  12
X2 =  11
Pengurangan
X1 =  5
X2 =  5
Perkalian
X1 =  8
X2 =  28
pembagian
X1 =  25.0
X2 =  28.666666666666668
Modulus
X1 =  3
X2 =  0
Pembagian Flooring
X1 =  58
X2 =  21
Perpangkatan
X1 =  3481
X2 =  0.000244140625

###Operator Pembanding

Operator pembanding  digunakan untuk membandingkan 2 nilai  atau variabel

Macam-macam operator pembanding :
```
== -> samadengan

!= -> tidak samadengan

> -> lebih dari

< -> kurang dari

>= -> lebih dari dan samadengan

<= -> kurang dari dan samadengan
```

####Contoh penggunaan operator pembanding

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

###Latihan Operator 3

In [ ]:
#Buatlah program penerapan oprator pembanding
#dengan nilai-nilai yang berbeda dari contoh ditas

In [ ]:
print(5==2)
print(8!=2)
print(9>6)
print(9<6)
print(11>=89)
print(80<=200)

False
True
True
False
False
True

###Operator Logika


Operator logika digunakan untuk mengkombinasikan statement statement kondisional

Macam macam operator logika:
```
and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil adri benar ke salah dan salah ke benar
```

####Contoh penggunaan operator loogika

In [ ]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

###Latihan Operator 4

In [ ]:
# Buatlah program penerapan operator logika
# dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
print(True and True)
print(False or True)
print(not True and False)

True
True
False

###Operator Membership / Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator Keanggotaan:
```
in -> return True ketika nilai tertentu dalam sebuah urutan ada

not in -> return True ketika nilai tertentu dalam sebuah uruta tidak ada
```

####Contoh penggunaan operator keanggotaan

In [ ]:
a=(1,2,3,4,5,6)
b=2

print(b in a)

print('_'*20)

a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
____________________
True

###Latihan operator 5

In [ ]:
## Buatlah program penerapan operator keanggotaan membership
#dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
a=(1,3,5,7,9,11,13,15)
b=6

print(b in a)
print('_'*20)
a=(1,2,3,4,5,6)
b=2
print(b not in a)

False
____________________
False

##**Variabel**

Variabel : Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat syarat penamaan variabel

1. Karakter - karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.

2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore dan tidak bisa berupa angka

3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if, dan lainnya

4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
#membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

###Latihan 1

In [ ]:
#buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variabel menggunakan fungsi print

In [ ]:
#membuat variabel
kalimat = 'berikut termasuk variabel'
kalimat1 = 7.5
kalimat2 = 2
kalimat3 = 10j + 2
kalimat4 = False

# menampilkan variabel
print(kalimat)
print(kalimat1)
print(kalimat2)
print(kalimat3)
print(kalimat4)

berikut termasuk variabel
7.5
2
(2+10j)
False

##**Tipe Data & Konversi Tipe Data**

####Tipe Data

5 tipe data yaitu

1. Integr atau bilangan bulat

2. Float atau bilangan desimal

3. String atau kalimat

4. Boolean yang terdiri dari True dan False

5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Latihan 2

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan 1

In [ ]:
# menampilkan tipe data
print('berikut termasuk variabel, termasuk ', type(kalimat))
print('7.5, termasuk ',type(kalimat1))
print('2, termasuk ',type(kalimat2))
print('10j + 2, termasuk ',type(kalimat3))
print('False, termasuk ',type(kalimat4))

berikut termasuk variabel, termasuk  <class 'str'>
7.5, termasuk  <class 'float'>
2, termasuk  <class 'int'>
10j + 2, termasuk  <class 'complex'>
False, termasuk  <class 'bool'>

###Koversi Tipe Data

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

# konversi tipe data float
print(float(bilangan1))
print(float (bilangan3))

# konversi tipe data string
print(str(bilangan2))
print(str(bilangan3))
print(str(bilangan1))

# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2
1
4.0
1.0
2.5
True
4
True
True
(4+0j)
(2.5+0j)
(1+0j)

###Latihan 3

In [ ]:
# konversi tipe data yang telah kalian buat
# menjadi berbagai macam tipe data

In [ ]:
# konversi tipe data integer
print(int(kalimat2))
print(int(kalimat4))

# konversi tipe data float
print(float(kalimat1))
print(float(kalimat2))

# konversi tipe data string
print(str(kalimat2))
print(str(kalimat3))
print(str(kalimat1))

# konversi tipe data bool
print(bool(kalimat1))
print(bool(kalimat2))

# konversi tipe data complex
print(complex(kalimat1))
print(complex(kalimat2))
print(complex(kalimat3))

2
0
7.5
2.0
2
(2+10j)
7.5
True
True
(7.5+0j)
(2+0j)
(2+10j)